{:window [["main" {:x 400 :y 200 :width 300 :height 600 :title "Strigui from Edn" :resizable? true :on-close #window exit}]]
 :strigui.label/Label [["title" "Volume" {:x 100 :y 50   :font-size 20 :font-style [:bold] :window "main"}]
                       ["lbl-volume" 50 {:x 150 :y 150  :font-size 20 :font-style [:bold] :window "main"} ]]
 :strigui.button/Button [["left" "<" {:x 150 :y 200 :width 30 :highlight [:alpha :border]
                                      :font-style [:bold] :can-tab? true :window "main"}]
                         ["right" ">" {:x 200 :y 200 :width 30 :highlight [:alpha :border]
                                       :font-style [:bold] :min-width 30 :can-tab? true :window "main"}]]
 :strigui-sample.widget-stacks/Stack [["volume" 50 {:x 70 :y 70 :width 50 :height 200 :max 100 :window "main"}]]}